
* {
    margin: 0;
    padding: 0;
}

b {
    color: red;
}

li {
    list-style: none;
    margin: 10px 0;
}

fieldset {
    width: 400px;
    height: 350px;
    margin-bottom: 20px;
}

    fieldset > fieldset {
        width: 100px;
    }

ul {
    margin-top: 30px;
}

table input[type=submit] {
    margin-left: 130px;
    margin-right: 10px;
}


